.reviewListContainer {
  font-family: BrandonText, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-style: normal;
  .peopleSaying {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #2d333f;
  }
  .reviewOverview {
    display: flex;
    flex-wrap: nowrap;
    .overallInfo {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
    }
  }
}
